body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  text-align: center;
}

.WorkArea {
  margin: 0px 0px;
  padding: 16px 16px;
  width : 576 px;
  display: grid;
  grid-template-columns: 576px;
  grid-template-rows: 576px;
  background-image: url("./images/taptapback.png");
  background-size : auto;
  background-repeat: no-repeat;
}

.WaveArea {
  width : 576 px;
  height : 576 px;
  z-index: 10; /* Stay on top */
  padding: 0px 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.GridArea {
  position: absolute;
  /* Stay on top */
  left: 16px;
  top: 64px;
  padding: 48px 48px;
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px;
  grid-template-rows: 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px;
}

.FreeArea {
  position: absolute;
  /* Stay on top */
  left: 16px;
  top: 64px;
  padding: 48px 48px;
  width: 480px;
  height: 480px;
}


.NameArea {
  position: absolute;
  /* Stay on top */
  left: 16px;
  top: 64px;
  padding: 48px 48px;
  width: 480px;
  height: 480px;
  display: grid;
  grid-template-columns: 480px;
  grid-template-rows: 20px 50px;
}

.Penguin {
  position: absolute;
}

.Tile {
  left: 0px;
  top: 0px;
  width : 48 px;
  height : 48 px;
  z-index: 20; /* Stay on top */
  padding: 0px 0;
}

.WeatherArea {
  position: absolute;
  left: 16px;
  top: 64px;
  width : 576 px;
  height : 576 px;
  z-index: 60; /* Stay on top */
  padding: 0px 0;
  opacity: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  pointer-events: none;
  background-image: url("./images/weather-sun.png");
}

.StateArea {
  position: absolute;
  left: 16px;
  top: 64px;
  width : 576 px;
  height : 576 px;
  z-index: 65; /* Stay on top */
  padding: 0px 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sun {
  background-image: url("./images/weather-sun.png");
}
.cold {
  background-image: url("./images/weather-cold.png");
}
.rain {
  background-image: url("./images/weather-rain.png");
}
.snow {
  background-image: url("./images/weather-snow.png");
}


.Navbar {
  width: 608px;
  height: 48px;
  align-items: left;
  background-color: black;
  background-image: url("./images/PF-back.png");
  background-repeat: repeat-x;
  display: grid;
  grid-template-columns: 210px 248px 150px;
}

.NavbarInfo {
  width: 204x;
  height: 48px;
  align-items: left;
  padding: 1px 1px;
  font-size: 12px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24x 24px;
}

.login {
  align-items: left;
  text-align:left;
  padding: 5px 18px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 180px;
  grid-template-rows: auto;
}

input {
  color: #dfeed0;
  background-color: rgb(41, 78, 107); 
  margin: 5px 0;
  border:0; 
  border-bottom:1px solid rgb(125, 125, 125); 
  width:80%;
}

input[type="checkbox"] {
  position: relative;
  width: 12px;
  height: 12px;
  color: rgb(41, 78, 107); 
  border: 1px solid rgb(125, 125, 125); ;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  position: relative;
  width: 12px;
  height: 12px;
  color: rgb(198, 228, 250); 
  border: 4px solid rgb(210, 210, 210); ;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
}

select {
  color: #dfeed0;
  background-color: rgb(41, 78, 107); 
  margin: 5px 0;
  border:1px solid rgb(125, 125, 125); 
  width:80%;
}

input.hover {
  color: #dfeed0;
}

label {
  font-weight: bold;
  padding: 5px 0;
}

.inputButtonsBar {
  align-items: right;
  display: grid;
  grid-template-columns: 18px 64px 64px;
  grid-template-rows: auto;
}

.sidebarButtonsBar {
  align-items: right;
  display: grid;
  grid-template-columns: 18px 200px;
  grid-template-rows: auto;
}


.inputButton {
  margin: 0 2px;
  color: #dfeed0;
  background-color: rgb(51, 100, 137); 
  border:1px solid rgb(125, 125, 125); 
}

.inputButton.hover {
  font-weight: bold;
  color: #e7ebe4;
  background-color: rgb(64, 125, 171); 
}

.checkmark {
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
}


.checkboxList {
  margin: 0px 0px;
  font-family: Helvetica;
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  color: rgb(173, 198, 215); 
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24px 24px;
}

.checkboxBar {
  display: grid;
  grid-template-columns: 20px 136px;
  grid-template-rows: auto;
}

.checkBoxText {
  padding: 4px 0;
  color: rgb(175, 199, 216); 
}

.NavbarInfoLine {
  
  display: grid;
  grid-template-columns: 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px 26px;
  grid-template-rows: auto ;
}

.ui-button {
  width: 24px;
  height: 24px;
  padding: 12px 6px ;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: Transparent;
  background-repeat: no-repeat;
}

.ButtonStart {
  background-image: url("./images/TTP-start-24.png");
}

.ButtonStart:hover {
  background-image: url("./images/TTP-start-hover-24.png");
}

.ButtonStop {
  background-image: url("./images/TTP-stop-24.png");
}

.ButtonStop:hover {
  background-image: url("./images/TTP-stop-hover-24.png");
}

.ButtonPlus {
  background-image: url("./images/TTP-plus-24.png");
}

.ButtonPlus:hover {
  background-image: url("./images/TTP-plus-hover-24.png");
}

.ButtonClone {
  background-image: url("./images/TTP-clone-24.png");
}

.ButtonClone:hover {
  background-image: url("./images/TTP-clone-hover-24.png");
}

.ButtonSteps {
  background-image: url("./images/TTP-step-24.png");
}

.ButtonStepsRunnning {
  background-image: url("./images/TTP-steprunning-24.png");
}

.ButtonSteps:hover {
  background-image: url("./images/TTP-step-hover-24.png");
}

.ButtonAdmin {
  background-image: url("./images/TTP-admin-24.png");
}

.ButtonAdmin:hover {
  background-image: url("./images/TTP-admin-hover-24.png");
}

.ButtonAdminOn {
  background-image: url("./images/TTP-admin-on-24.png");
}

.ButtonAdminOn:hover {
  background-image: url("./images/TTP-admin-hover-24.png");
}

.ButtonClose {
  background-image: url("./images/TTP-close-24.png");
}

.ButtonClose:hover {
  background-image: url("./images/TTP-close-hover-24.png");
}

.ui-button36 {
  width: 36px;
  height: 36px;
  padding: 12px 6px ;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: Transparent;
  background-repeat: no-repeat;
}

.ButtonSubmit {
  background-image: url("./images/TTP-submit-36.png");
}

.ButtonSubmit:hover {
  background-image: url("./images/TTP-submithover-36.png");
}

.ButtonArea {
  margin: 0px 0px;
  padding: 12px 0px;
  width : 150 px;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px;
  grid-template-rows: auto;
}

#islandName {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  color: #fefdaf;
}

#score {
  position: absolute;
  top: 30px;
  left: 8px;
  z-index: 50;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: #d0f5a9;
}

.Footer {
  margin: 24px 8px;
  display: grid;
  grid-template-columns: 54px 500px;
  grid-template-rows: 24px 24px 24px 24px 24px 24px 24px 24px 24px;
}

.FooterText {
  margin: 2px 0px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: semi-bold;
  text-align: left;
  vertical-align: bottom;
  color: #dfeed0;
  display: grid;
  grid-template-columns: 20px 100px 180px 200px;
  grid-template-rows: auto;
}

.FooterText:hover {
  font-weight: bold;
  color: #ddba73;
} 

.FooterTextIlluminated {
  margin: 2px 0px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  vertical-align: bottom;
  color: #ddba73;
  display: grid;
  grid-template-columns: 20px 100px 180px 200px;
  grid-template-rows: auto;
}


.TwoBars {
  margin: 0px 0px;
  display: grid;
  color: #dfeed0;
  display: grid;
  vertical-align: bottom;
  grid-template-columns: 50px;
  grid-template-rows: 10px 10px;
}

.PenguinsList {
  margin: 12px 0px;
  font-family: Helvetica;
  font-size: 16px;
  color: #d0f5a9;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 21px 21px 21px 21px 21px 21px 21px 21px 21px 21px 21px;
}


/* The sidebar menu */

.sidebar {
  height: 600px; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 70; /* Stay on top */
  top: 48px;
  left: 0;
  font-size: 20px;
  color: #b0cdf9;
  background-color: rgb(41, 78, 107); 
  border: 0px solid rgb(103, 133, 168);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  /* background-image: url("./images/lbar-back.png"); */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 52px 510px 28px;
}

.IslandsList {
  margin: 0px 8px;
  font-family: Helvetica;
  font-size: 16px;
  color: #d0f5a9;
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px;
}

.island {
  color: #d0f5a9;
  display: grid;
  grid-template-columns: 20px 136px 42px 42px;
  grid-template-rows: auto;
}

.deadisland {
  color: #f3f2f088;
  display: grid;
  grid-template-columns: 20px 136px 42px 42px;
  grid-template-rows: auto;
}

.island:hover {
  font-weight: bold;
  color: #ddba73;
} 

.garb{
  width: 16px;
  height: 16px;
  background: url("./images/garb.png") no-repeat;
  display: inline-block;
}
.garb:hover {
  background: url("./images/garbhover.png") no-repeat;
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #dbe3fb;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar li:hover {
  font-weight: bold;
  color: #f1f1f1;
}

.sideNavbar {
  width: 238px;
  height: 48px;
  padding: 10px 0px;
  align-items: left;
  text-align: left;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 16px 200px 34px;
}



/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* The adminbar menu */

.adminbar {
  height: 200px; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 80; /* Stay on top */
  top: 48px;
  left: 400px;
  font-size: 20px;
  color: #b0cdf9;
  background-color: rgb(41, 78, 107); 
  border: 0px solid rgb(103, 133, 168);
  overflow-x: hidden; /* Disable horizontal scroll */
  /* background-image: url("./images/rbar-back.png"); */
}

.adminNavbar {
  width: 188px;
  height: 24px;
  padding: 10px 0px;
  align-items: left;
  text-align: left;
  display: grid;
  grid-template-rows: 24px;
  grid-template-columns: 16px 150px 34px;
}
