body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0;
  background-color: black;
  font-family: Helvetica;
  text-align: center;
}

.WorkArea {
  margin: 0px 0px;
  padding: 16px 16px;
  width : 576 px;
  display: grid;
  grid-template-columns: 576px;
  grid-template-rows: 576px;
  background-image: url("./images/taptapback.png");
  background-size : auto;
  background-repeat: no-repeat;
}

.WaveArea {
  width : 576 px;
  height : 576 px;
  z-index: 10; /* Stay on top */
  padding: 0px 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.GridArea {
  position: absolute;
  /* Stay on top */
  left: 16px;
  top: 64px;
  padding: 48px 48px;
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px;
  grid-template-rows: 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px;
}

.FreeArea {
  position: absolute;
  /* Stay on top */
  left: 16px;
  top: 64px;
  padding: 48px 48px;
  width: 480px;
  height: 480px;
}

.Penguin {
  position: absolute;
}

.Tile {
  left: 0px;
  top: 0px;
  width : 48 px;
  height : 48 px;
  z-index: 20; /* Stay on top */
  padding: 0px 0;
}

.WeatherArea {
  position: absolute;
  left: 16px;
  top: 64px;
  width : 576 px;
  height : 576 px;
  z-index: 60; /* Stay on top */
  padding: 0px 0;
  opacity: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  pointer-events: none;
  background-image: url("./images/weather-sun.png");
}

.sun {
  background-image: url("./images/weather-sun.png");
}
.cold {
  background-image: url("./images/weather-cold.png");
}
.rain {
  background-image: url("./images/weather-rain.png");
}
.snow {
  background-image: url("./images/weather-snow.png");
}


.Navbar {
  width: 608px;
  height: 48px;
  padding: 0px 0;
  align-items: left;
  background-color: black;
  background-image: url("./images/PF-back.png");
  background-repeat: repeat-x;
  display: grid;
  grid-template-columns: 210px 248px 150px;
}

.NavbarInfo {
  width: 204x;
  height: 48px;
  align-items: left;
  padding: 0px 0;
  font-size: 12px;
}

.ui-button {
  width: 24px;
  height: 24px;
  padding: 12px 6px ;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: Transparent;
  background-repeat: no-repeat;
}

.ButtonStart {
  background-image: url("./images/TTP-start-24.png");
}

.ButtonStart:hover {
  background-image: url("./images/TTP-start-hover-24.png");
}

.ButtonStop {
  background-image: url("./images/TTP-stop-24.png");
}

.ButtonStop:hover {
  background-image: url("./images/TTP-stop-hover-24.png");
}

.ButtonPlus {
  background-image: url("./images/TTP-plus-24.png");
}

.ButtonPlus:hover {
  background-image: url("./images/TTP-plus-hover-24.png");
}

.ButtonClone {
  background-image: url("./images/TTP-clone-24.png");
}

.ButtonClone:hover {
  background-image: url("./images/TTP-clone-hover-24.png");
}

.ButtonSteps {
  background-image: url("./images/TTP-step-24.png");
}

.ButtonSteps:hover {
  background-image: url("./images/TTP-step-hover-24.png");
}

.ButtonAdmin {
  background-image: url("./images/TTP-admin-24.png");
}

.ButtonAdmin:hover {
  background-image: url("./images/TTP-admin-hover-24.png");
}

.ButtonClose {
  background-image: url("./images/TTP-close-24.png");
}

.ButtonClose:hover {
  background-image: url("./images/TTP-close-hover-24.png");
}

.ButtonArea {
  margin: 0px 0px;
  padding: 12px 0px;
  width : 150 px;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px;
  grid-template-rows: auto;
}

#islandName {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  color: #fefdaf;
}

#score {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 50;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: #d0f5a9;
}

.Footer {
  margin: 24px 8px;
  display: grid;
  grid-template-columns: 54px 500px;
  grid-template-rows: 24px 24px 24px 24px 24px 24px 24px 24px 24px;
}

.FooterText {
  margin: 2px 0px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: semi-bold;
  text-align: left;
  vertical-align: bottom;
  color: #dfeed0;
  display: grid;
  grid-template-columns: 100px 180px 220px;
  grid-template-rows: auto;
}

.FooterText:hover {
  font-weight: bold;
  color: #ddba73;
} 

.TwoBars {
  margin: 0px 0px;
  display: grid;
  color: #dfeed0;
  display: grid;
  vertical-align: bottom;
  grid-template-columns: 50px;
  grid-template-rows: 10px 10px;
}

.PenguinsList {
  margin: 12px 0px;
  font-family: Helvetica;
  font-size: 16px;
  color: #d0f5a9;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 21px 21px 21px 21px 21px 21px 21px 21px 21px 21px 21px;
}


/* The sidebar menu */

.sidebar {
  height: 608px; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 70; /* Stay on top */
  top: 48px;
  left: 0;
  font-size: 20px;
  color: #b0cdf9;
  background-color: #000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  background-image: url("./images/lbar-back.png");
}

.IslandsList {
  margin: 0px 8px;
  font-family: Helvetica;
  font-size: 16px;
  color: #d0f5a9;
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px 24px;
}

.island {
  color: #d0f5a9;
  display: grid;
  grid-template-columns: 140px 50px 50px;
  grid-template-rows: auto;
}

.deadisland {
  color: #f3f2f088;
  display: grid;
  grid-template-columns: 140px 50px 50px;
  grid-template-rows: auto;
}

.island:hover {
  font-weight: bold;
  color: #ddba73;
} 

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #dbe3fb;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar li:hover {
  font-weight: bold;
  color: #f1f1f1;
}

.sideNavbar {
  width: 238px;
  height: 48px;
  padding: 10px 0px;
  align-items: left;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 200px 50px;
}



/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* The adminbar menu */

.adminbar {
  height: 400px; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 80; /* Stay on top */
  top: 48px;
  left: 408px;
  font-size: 20px;
  color: #b0cdf9;
  background-color: #000; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  background-image: url("./images/rbar-back.png");
}

.adminNavbar {
  width: 188px;
  height: 48px;
  padding: 10px 0px;
  align-items: left;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 150px 50px;
}
